.controller.ps5 {
background: url("https://pillsburyflakes.github.io/flakes-controller/controller.png") no-repeat center;
background-size: 92% auto;
width: 807px;
height: 651px;
}

/* Buttons */
.controller.ps5 .button {
opacity: 0.2;
transition: all 0.05s ease;
}

.controller.ps5 .button.pressed {
opacity: 1;
filter: drop-shadow(0 0 16px #ff00ff);
}

/* Sticks */
.controller.ps5 .stick.pressed {
filter: drop-shadow(0 0 18px #00eaff);
}

/* Triggers */
.controller.ps5 .trigger.pressed {
filter: drop-shadow(0 0 12px #ff00ff);
}

