.controller.ps5 {
background: url("https://raw.githubusercontent.com/pillsburyflakes/flakes-controller/main/controller.png") no-repeat center;
background-size: 100% auto;
width: 1000px;
height: 500px;
}

/* Buttons */
.controller.ps5 .button {
opacity: 0.25;
transition: all 0.05s ease;
}

.controller.ps5 .button.pressed {
opacity: 1;
filter: drop-shadow(0 0 14px #ff00ff);
}

/* Sticks */
.controller.ps5 .stick.pressed {
filter: drop-shadow(0 0 16px #00eaff);
}

/* Triggers */
.controller.ps5 .trigger.pressed {
filter: drop-shadow(0 0 12px #ff00ff);
}
